@font-face {
  font-family: 'fontcustom';
  src: url(fontcustom.woff);
}

#scoreboard {
	animation: easein 1s ease-in;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.idsiuseri {
	position: fixed;
    font-family: fontcustom;
    font-weight: 100;
    color: #fff;
    background: #0065a9;
    position: fixed;
  	letter-spacing: 0.5px;
    width: 220px;
    border-radius: .25vw;
	left: 44%;
	bottom: -22%;
	text-align: center;
	transform: translate(-50%, -50%);	
    font-size: 16px;
    box-shadow:
      0 0 1px #0065a9,
      0 0 111px #0065a9,
      0 0 1px #0065a9,
      0 0 111px #0065a9,
      0 0 1px #0065a9;
}

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	background-color: #321e48cf;
	transform: translate(-50%, -50%);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center center;	
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);	
}


.scb {
	
	position: absolute;
	padding: 300px;
/*	background-color: rgba(73, 73, 73, 0.5);*/
	width: 50%;
	height: 10.9%;
	left: 55%;
	letter-spacing: 2px;
	top: 50%;
	transform: translate(-50%, -50%);	

}

.navbar{
	position: absolute;
	width: 100%;
	height: 8%;
	top:-10%;
	left:-65px;
	border-bottom-left-radius: 18px;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	background-color: #0065a960;
	border: 1px solid #0065a9;
    box-shadow:
      0 0 1px #0065a9,
      0 0 51px #0065a9,
      0 0 1px #0065a9,
      0 0 51px #0065a9,
      0 0 1px #0065a9;
} 

.textenavbar1 {
	position: fixed;
	color:white;
	font-weight: 800;
	margin-top: 45%;
	left : -52%;
	width: 1110px;
	font-size: 66px;
	transform: rotate(-90deg);
	font-family: sans-serif;
}


.textnumeserver {
	position: fixed;
	color:white;
	right: 21%;
	font-family: fontcustom;

}

.list {
	position: fixed;
	left: 0;
	width: 100%;
	top: -3%;
	font-size: 25px;
}

.text {
	position: relative;
	left: 0;
	top: 1%;
}

.textlvl {
	position: relative;
	left: 0;
	top: 1%;
}



table{
	font-family: fontcustom;
	/*border-collapse: collapse;*/
	width: 100%;
}

  
th{
	top: 30%;
	color: white;
	width: 230px;
	font-weight: 300;
	text-align: center;
	padding: 8px;
	background: rgb(0, 169, 157 / 3%);

}
 
th:hover {
	background: rgb(0, 169, 157 / 4%);
}
  
tr {
	top: 30%;
	color: white;
	text-align: center;
	padding: 5px;
}  
  
td {
	top: 30%;
	color: white;
	text-align: left;
	padding: 8px;
	font-weight: 00;
	background: rgb(0, 169, 157 / 3%);
 
}

td:hover {
	background: rgb(0, 169, 157 / 4%);
}

/*td:after {
	position: absolute;
	content: url("https://i.imgur.com/ZxC7wcJ.png");;
	left: 54%;

}


td:before {
	position: absolute;
	content: url("https://i.imgur.com/JO41iDr.png");
	left: 56.5%;
	margin-top: -0.25%;
}
*/

h1 {
	font-family: fontcustom;
	font-size: 17px;
	margin-top: 6.2%;
	left: 66.6%;
	color: #00a99d;
	position: fixed;
}


.text1 {
	font-family: fontcustom;
	font-size: 19px;
	top: -8%;
	left: 1%;
	color: #fff;
	position: fixed;
}

.text5 {
	font-family: fontcustom;
	font-size: 19px;
	top: -8%;
	left: 20%;
	color: #fff;
	position: fixed;
}

.text6 {
	font-family: fontcustom;
	font-size: 19px;
	top: -8%;
	left: 38%;
	color: #fff;
	position: fixed;
}

.text2 {
	font-family: fontcustom;
	font-size: 19px;
	top: -8%;
	left: 54%;
	color: #fff;
	position: fixed;
}

.text3 {
	font-family: fontcustom;
	font-size: 19px;
	top: -8%;
	left: 70%;
	color: #fff;
	position: fixed;
}

.button {
    background-color: aliceblue;
    padding: 12px;
}

.text4 {
	font-family: fontcustom;
	font-size: 19px;
	top: -8%;
	left: 89%;
	color: #fff;
	position: fixed;
}

.texte {
	position: fixed;
    color: white;
    font-family: fontcustom;
    font-size: 16px;
    bottom: 110%;
	text-align: center;
	left: 0;
	width: 100%;
    letter-spacing: 1.0px;

}

#username {
	color: white;
	font-family: fontcustom;
	font-size: 16px;

	letter-spacing: 1.0px;
}

.scroll {
	position: fixed;
	width: 100%;
	height: 96%;
	border-radius: .25vw;
	overflow: auto;
}
.scroll::-webkit-scrollbar {
	width: 5px;
}
  
  /* Track */
.scroll::-webkit-scrollbar-track {
	background: rgb(241 241 241 / 15%);
}
   
  /* Handle */
.scroll::-webkit-scrollbar-thumb {

	background: #005da9;
}
  
  /* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
	background: #005da9;
}

@keyframes easein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}